@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 3.9%);
}

.text-balance {
  text-wrap: balance;
}

* {
  border-color: hsl(0, 0%, 89.8%);
}

:root {
  --radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 3.9%);
  border-color: hsl(0, 0%, 89.8%);
}

.dark {
  background-color: hsl(0, 0%, 3.9%);
  color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 14.9%);
}

